/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /* estilos carrusel  */

.effect {
    margin: 5px 0;
    height: 70px;
    width: 320px;
    text-align: center;
}

.option {
    border: 1px solid grey;
    height: 50px;
    width: 150px;
    background: #eee;
}

.prev_next a {
  display: inline-block;
  width:80px;
  text-align:center;
  margin: 0px; border: 0;
  padding: 4px;
  background-color: #666;
  color: #fff;
}


/* fin estilos carrusel */


 html {
   overflow-y: scroll;
 }


nav ul a, nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

footer {
  z-index: 1;
}

header {
  z-index : 999;
}

.button-collapse {
  color: #26a69a;
}

.card{
  border-radius : 7px;

}

/* Estilos sobre nostros*/
/* .brand-logo-compra{
  color:white;
} */

a.a-base-compra{
color:#15E6CD;
}

i.icon-base-compra{
color:#15E6CD;
}



i.icon-base{
  color : #587291;

}

i.icon-cards{
  color : #587291;

}

.parallax-container{
  min-height: 600px;
  line-height: 0;
  height: 600px;
  color: rgba(255, 255, 255, .9);
}
#para1{
  min-height: 400px;
  height: 400px;
}

#para1c{
  min-height: 750px;
  height: 750px;
}


.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 15%;
    font: "TitilliumWeb";
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.input-field {
  color: #444;
}

#buttsubmit {
  float: none;
  width: 100%;
}

.modal-content {
  color: #444;
}

#link_especifico a:link {
  /* styles here */
  color: #c50e29;
}

.maps {
  width: 100%;
  height: 250px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#left_contacto {
  float: none;
  width: 30%;
}

#right_contacto {
  float: none;
  width: 65%;
}

#right_about {
  float: right;
  width: 55%;
}

#left_about {
  float: left;
  width: 30%;
  height: 100%;
}

#right_portafolio {
  float: right;
  width: 40%;
  height: 100%;
  padding-right: 5%;
}

#left_portafolio {
  float: left;
  width: 45%;
  height: 100%;
  padding-left: 10%;
}

.login_container {
  padding-left: 32%;
  padding-top: 5%;
}

.login_container .row {
  margin: 0 auto;
}

#login_pass {
  color: white;
}

#login_id {
  color: white;
}

#label_login {
  color: white;
}

/*.side-nav {
  overflow: hidden;
  margin-top: 65px;
}*/

nav{
  z-index: 10000;
}

/* .parallax img {
    @media #{$small-and-down} {
      max-width: 200%;
    }
    @media #{$medium-and-up} {
      width: 100%; }
} */
.section.no-pad-bot{
  bottom:0px;
  top:0px;
  padding-top: 0px;
};

#header_dash, #main_dash {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  #header_dash, #main_dash {
    padding-left: 0;
  }
}

@media only screen and (max-width: 450px) {
    body {
        font-size: 14px;
    };


}

/*
Search bar navbar
 */

 .nav-wrapper .input-field input[type=search] {
  height: 64px;
}
.nav-wrapper input[type="search"]:focus {
  position: static;
  top: 64px;
  left: 0;
  width: 100%;
  z-index: 1001;
}
.input-field label {
  max-height: 64px;
}


/* Estilos Pushpin*/
.nav-wrapper{
  height:64px;
}

html, body, .block {
    height: 100%;
  }
/* Class for when element is above threshold */
  .pin-top {
    position: relative;
  }

/* Class for when element is above threshold */
  .pin-bottom {
    position: relative;
  }

/* Class for when element is above threshold */
  .pinned {
    position: fixed !important;
  }
