/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 html {
   overflow-y: scroll;
 }


nav ul a, nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

footer {
  z-index: 1;
}

header {
  z-index : 999;
}


.button-collapse {
  color: #26a69a;
}

.azul_base {
  background-color: #496591;
}

.azul_claro {
  background-color: #7892c2;
}

.azul_fuerte {
  background-color: #183b63;
}

.rosa_base {
  background-color: #ff5252;
}

.rosa_claro {
  background-color: #ff867f;
}

.rosa_fuerte {
  background-color: #c50e29;
}

.azul_texto {
  color: #fafafa;
}

.azul_icono {
  color: #ff5252;
}

.rosa_icono {
  color: #ff867f;
}

i.icon-white {
  color: white !important;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 15%;
    font: "TitilliumWeb";
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.input-field {
  color: #444;
}

#buttsubmit {
  float: none;
  width: 100%;
}

.modal-content {
  color: #444;
}

#link_especifico a:link {
  /* styles here */
  color: #c50e29;
}

.maps {
  width: 100%;
  height: 250px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#left_contacto {
  float: none;
  width: 30%;
}

#right_contacto {
  float: none;
  width: 65%;
}

#right_about {
  float: right;
  width: 55%;
}

#left_about {
  float: left;
  width: 30%;
  height: 100%;
}

#right_portafolio {
  float: right;
  width: 40%;
  height: 100%;
  padding-right: 5%;
}

#left_portafolio {
  float: left;
  width: 45%;
  height: 100%;
  padding-left: 10%;
}

.login_container {
  padding-left: 32%;
  padding-top: 5%;
}

.login_container .row {
  margin: 0 auto;
}

#login_pass {
  color: white;
}

#login_id {
  color: white;
}

#label_login {
  color: white;
}

/*.side-nav {
  overflow: hidden;
  margin-top: 65px;
}*/

#header_dash, #main_dash {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  #header_dash, #main_dash {
    padding-left: 0;
  }
}
