<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta name="google-site-verification" content="NqnKlG85iCpd8PZzxjtREy8rWjZHIU6tW24jyscjs8U" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Segundas MX</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'segundasapp/css/materialize.css' %}" />
  <link href="{% static 'segundasapp/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <!--<link href="https://rawgit.com/kenwheeler/slick/master/slick/slick.css" rel="stylesheet"/>-->
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'segundasapp/js/materialize.min.js' %}"></script>
  {% block slick_script %}{% endblock slick_script %}
  {% block filtro_script %}{% endblock filtro_script %}
  {% block slider_script %}{% endblock slider_script %}
  {% block page_script %}{% endblock page_script %}
  {% block pushpan_script %}{% endblock pushpan_script %}
  {% block salesforce_script %}{% endblock salesforce_script %}
</head>

<body>
  <header>
    <container>
    <nav class="index white">
      <div class="nav-wrapper white">
          <image   src = "{% static 'segundasapp/images/seguazul.png' %}" width="269px"
        height="58px" href="{% url 'index'%}" class="brand-logo" style="padding-top:6px;padding-left:30px;">
        <ul class="right hide-on-med-and-down">
          <li><a class="azul_texto " href="{% url 'venta_segundas'%}"><i class="material-icons left icon-base">group</i>Compra segundas</a></li>
          <li><a class="azul_texto " href="{% url 'contacto'%}"><i class="material-icons left icon-base">money</i>Véndenos tus segundas</a></li>
          <li><a class="azul_texto " href="{% url 'index'%}"><i class="material-icons left icon-base">home</i>Inicio</a></li>
        </ul>
        <a href="#" data-activates="mobile-demo" class="button-collapse white-text"><i class="material-icons left icon-base">menu</i></a>
      </div>
    </nav>
        <ul class="side-nav" id="mobile-demo" >
          <li><a class="azul_texto " href="{% url 'venta_segundas'%}"><i class="material-icons left icon-base">group</i>Compra segundas</a></li>
          <li><a class="azul_texto " href="{% url 'contacto'%}"><i class="material-icons left icon-base">money</i>Véndenos tus segundas</a></li>
          <li><a class="azul_texto " href="{% url 'index'%}"><i class="material-icons left icon-base">home</i>Inicio</a></li>
        </ul>
  </container>
  </header>


  <main>
    {% block index_content %}{% endblock index_content%}
    {% block contacto_content %}{% endblock contacto_content%}
    {% block ventasegundas_content %}{% endblock ventasegundas_content%}
    {% block about_content %}{% endblock about_content%}
    {% block prueba_content %}{% endblock prueba_content%}
  </main>


  <footer class="page-footer" >
    <div class="container">
      <div class="row">
        <div class="col s1">
        </div>

        <div class="col s4">
          <h5 class="white-text">Segundas</h5>
          <p class="grey-text text-lighten-4">Empresa mexicana dedicada a la compra-venta de segundas
          de acero y materiales de construcción</p>
        </div>
        <div class="col s2">

        </div>
        <div class="col s4">
          <a href="{% url 'contacto'%}"><h5 class="white-text">Ubicación y contacto</h5></a>
          <ul>
            <li><a class="white-text" href="#!">contacto@segundas.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Scripts -->
  {% load static %}
  <script src="{% static 'segundasapp/js/init.js' %}"></script>
  {% block content %}{% endblock %}
</body>

</html>
