{% extends "segundasapp/base.html" %}
{% load staticfiles %}
{% load static %}
{% block salesforce_script %}
<script type="text/javascript" src="{% static 'segundasapp/js/salesforce.js' %}"></script>
{% endblock salesforce_script %}


{% block contacto_content %}
<div id="para1c" class="parallax-container">
 <div class="section no-pad-bot" style="top:0px;">
   <div class="container">
     <div class="row">
     <br><br><br><br>
     <div class="col l5 hide-on-med-and-down">
     <h1 class="header left-align white-text"><br>Véndenos tus segundas</h1>
     <div class="row center">
       <h4 class="header col s12 light">Acero, Varilla, Materiales de construcción, Aquí lo compramos!! </h4>
       <h6 style="text-align: justify;text-justify: inter-word;">* Déjanos tus datos personales
         y te contactaremos de inmediato. Si desea acelerar el proceso de venta, puede dejar
         sus datos en la sección <span style="font-weight:bold;">¿Qué nos quieres vender?</span>
       <h6>
       <br>
     </div>
   </div>

   <div class="col l6 m12 s12 offset-l1 white" style="border-radius:7px;
   border-style: solid;border-width: 2px;border-color:black;margin-top:2%;">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s6"><a class="active" href="#test1">Datos personales</a></li>
          <li class="tab col s6"><a href="#test2">¿Qué quieres vender?</a></li>
        </ul>
      </div>

      <form id="contactform" action={% url 'get_mensaje_contacto'%} class="col s10 offset-s1"  method="post"
      enctype="multipart/form-data" >{% csrf_token %}
      <div id="test1" class="col s12">
          <div class="row">
            <br>
            <h5 class="center-align black-text" style="font-weight:bold;"> Envíanos tu información </h5>
            <h6 class="center-align black-text"> Enseguida un representante se pondrá en contacto</h6>
          </div>
          <div class="row">
            <div class="col s12">
              <h6 class="left-align black-text" style="font-weight:bold;"> Datos Personales</h6>
             </div>
          </div>
          <div class="row">
             <div class="input-field col s6 text_login">
            <input type="text" name="first_name" placeholder="Nombre"
            class="validate" maxlength="100" required="" id="first_name">
            <label for="first_name">Nombre</label>
            </div>
            <div class="input-field col s6 text_login">
              <input type="text" name="last_name" placeholder="Apellido"
              class="validate" maxlength="100" required="" id="last_name">
              <label for="last_name">Apellido</label>
            </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input type="tel" name="phone" placeholder="55-55-55-55"
                class="validate" maxlength="14" minlength="8" required=""
                id="phone">
                <label for="phone">Teléfono</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                 <i class="material-icons prefix">mail</i>
                <input type="email" name="email" placeholder="ejemplo@ejemplo.com"
                 class="validate" maxlength="100" required="" id="email">
                <label for="email">Email</label>
              </div>
          </div>
      </div>
      <div id="test2" class="col s12">
        <div class="row">
          <br>
          <h5 class="center-align black-text" style="font-weight:bold;"> Envíanos tu información </h5>
          <h6 class="center-align black-text"> Enseguida un representante se pondrá en contacto</h6>
        </div>
        <div class="row">
          <div class="col s12">
            <h6 class="left-align black-text" style="font-weight:bold;"> ¿Qué nos quieres vender?</h6>
           </div>
        </div>
        <div class="row">
          <div class="input-field col s6 text_login">
            {{form.titulo_contacto}}
            <label for="titulo_contacto">Título</label>
          </div>
          <div class="input-field col s6 text_login">
            <i class="material-icons prefix">attach_money</i>
            {{form.precio_contacto}}
            <label for="precio_contacto">Precio</label>
          </div>
        </div>

        <div class="row">
            <div class="input-field col s12 text_login">
              {{form.textarea_contacto}}
              <label for="textarea_contacto">Descripción</label>
            </div>
        </div>

        <div class="row">
          <div class="file-field input-field">
       <div class="btn">
         <span>Imagenes</span>
         {{form.imagenes_contacto}}
       </div>
       <div class="file-path-wrapper">
         <input class="file-path validate" type="text">
       </div>
       </div>
     </div>
      </div>
      <div class="row">
        <div class="input-field col s12 ">
        <button id="buttsubmit" class="waves-effect waves-light btn-flat modal-trigger smaltblue white-text"
         type="submit" name="action">Contáctanos
           <i class="material-icons right">send</i>
        </button>
       </div>
      </div>
       </form>
    </div>

    </div>
  </div>
 </div>
 {% load static %}
 <div class="parallax"><img src="{% static 'segundasapp/images/background1.png' %}" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <br>
      <br>
      <h4 class="left-align" style="font-weight:bold;">Compramos Segundas</h4>
      <h5 style="text-align: justify;text-justify: inter-word;">En <span style="font-weight:bold;">
        Segundas MX</span> compramos todos los materiales de construcción que te sobren:
        desde varillas, malla electrosoldada, alambrón, y vigas. Aceros y
        metales... Sólo envíanos tu información y en seguida te contactaremos.
      </h5>
        <h6 style="text-align: justify;text-justify: inter-word;">* Déjanos tus datos personales
          y te contactaremos de inmediato. Si desea acelerar el proceso de venta, puede dejar
          sus datos en la sección <span style="font-weight:bold;">¿Qué nos quieres vender?</span>
        <h6>
          <h6 style="text-align: justify;text-justify: inter-word;">* Los datos personales son
            obligatorios si se desea mandar la información de contacto.
          <h6>
    </div>
  </div>
</div>

 <!--</div>-->
  <div class="row logoblue white-text" style="padding-bottom:0px;margin:0px;">
    <div class="col s4 offset-s4">
      <h6>
      <p class="light center"> segundas mx
      </p>
    </h6>
    </div>
 </div>
<div class="section center-align" style="padding-bottom:0px;padding-top:0px;">
 <div class="center-align">
   <div class="maps" id="map"></div>
 </div>
</div>
<!-- Scripts -->
{% load static %}
<script src="{% static 'segundasapp/js/mapa.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT7KguGOb8Cma65q3Xj_B_u2aPQaL4bAI&callback=initTabMap"></script>
{% endblock contacto_content%}
