<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>Segundas MX</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'segundasapp/css/materialize.min.css' %}" />
  <link href="{% static 'segundasapp/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'segundasapp/js/materialize.min.js' %}"></script>
</head>

<body>
  <header>
    <container>
      <div class="row">
        <div class="col s12">
          <h2>Contacto Segundas</h2>
        </div>
      </div>
    <container>
  </header>
  <main>
    <container>
      <div class="row">
        <div class="col s3 offset-s2">
          <h3>Segunda de interés</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s2">
          <h5>Titulo: {{ segunda }} , LLave: {{ llave }},
            <br> Precio: {{ precio }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s2">
          <br>
          <h4>Contenido:</h4> {{ contenido }}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col s6 offset-s2">
        <h3>Datos de Contacto</h3>
          <br>
          <h5>Nombre Completo:</h5> {{nombre}} {{apellido}}
          <br>
          <h5>Teléfono:</h5> {{telefono}}
          <br>
          <h5>Correo:</h5> {{correo}}
          <br>
          <h5>Observaciones:</h5> {{observaciones}}
        </div>
      </div>
  </container>
  </main>

  <footer>

  </footer>
</body>

</html>
