{% load static %}
{% for segunda in segundas %}
{% if forloop.first == true or forloop.counter|divisibleby:3 %}
    <div class="row">
      {% endif %}
      <div class="col l4 m6 s12">
        <div class="card">
          <div class="card-image" style="margin-bottom:1px;">
            <!-- Aqui empieza carrusel -->
             <div class="testcar" style="max-width:100%;max-height:200px">
               {% for imagen in segunda.images.all %}
                 <div class="option">
                     <img src="{{ imagen.fileimage.url|slice:"11:" }}" style="width:100%;height:200px;">
                 </div>
               {% endfor %}
                 <div class="prev_next">
                 </div>
             </div>
             <a class="btn-floating halfway-fab waves-effect waves-light modal-trigger columbiablue" href="#modal{{ forloop.counter }}">
               <i class="material-icons">add</i></a>
            <!-- <img src="/{{ segunda.imagen.url }}" style="width:300px;height:250px;"> -->
          </div>
          <div class="card-stacked">
          <div class="card-content" style="padding:0px;margin-left:10px;">
          <h6 style="font-weight:bold;"> {{ segunda.get_categoria_display }} </h6>
          <h6 style="font-weight:bold;">{{ segunda.titulo }}</h6>
          <h6>{{ segunda.fecha }}</h6>
          <h6>{{ segunda.precio }}</h6>
          <br>
        </div>
        <div id="modal{{ forloop.counter }}" class="modal modal-fixed-footer">
          <div  class="modal-content">
            <h4>{{ segunda.titulo }}</h4>
            <p>{{ segunda.contenido }}</p>
            <div class="row">
              <!-- Forma para contacto con nosotros.-->
              <form class="col s12" name="contactosegunda"  method="post">{% csrf_token %}
                <div class="row">
                  <input name="titulo_segunda" type="text" value="{{ segunda.titulo }}" hidden>
                  <input name="contenido_segunda" type="text" value="{{ segunda.contenido }}" hidden>
                  <input name="precio_segunda" type="text" value="{{ segunda.precio }}" hidden>
                  <input name="llave_segunda" type="number" value="{{ segunda.pk }}" hidden>
                  <div class="input-field col s5 offset-s1 text_login">
                    <i class="material-icons prefix">account_circle</i>
                    {{formseg.nombre_segunda}}
                    <label for="nombre_contacto">Nombre</label>
                  </div>
                  <div class="input-field col s5 text_login">
                    {{formseg.apellido_segunda}}
                    <label for="apellido_contacto">Apellidos</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                      <i class="material-icons prefix">phone</i>
                      {{formseg.telefono_segunda}}
                      <label for="telefono_segunda">Teléfono</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                       <i class="material-icons prefix">mail</i>
                      {{formseg.email_segunda}}
                      <label for="email_contacto">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                      {{formseg.textarea_segunda}}
                      <label for="textarea_contacto">Observaciones</label>
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s4 offset-s4">
                  <button id="buttsubmit" class="waves-effect waves-light btn-flat modal-trigger"
                   type="submit" name="action">Enviar
                     <i class="material-icons right">send</i>
                  </button>
                 </div>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
          </div>
        </div>
      </div>
      </div>
      </div>
  {% if forloop.first == true or forloop.counter|divisibleby:3 %}
   </div>
  {% endif %}
{% endfor %}
