{% extends "segundasapp/base.html" %}
{% load staticfiles %}
{% load static %}
{% block slick_script %}
  <link rel="stylesheet" type="text/css"  href="{% static 'segundasapp/css/slick.css' %}" />
  <link rel="stylesheet" type="text/css"  href="{% static 'segundasapp/css/slick-theme.css' %}" />
  <script type="text/javascript" src="{% static 'segundasapp/js/slick.min.js' %}"></script>
{% endblock slick_script %}
{% block slider_script %}
<script type="text/javascript" src="{% static 'segundasapp/js/sliders.js' %}"></script>
{% endblock slider_script %}
{% block pushpan_script %}
<script type="text/javascript" src="{% static 'segundasapp/js/pushpan.js' %}"></script>
{% endblock pushpan_script %}

 {% block index_content %}
<div id="para1" class="parallax-container">
 <div class="section no-pad-bot" style="top:10px;">
   <div class="container">
     <div class="row">
       <div class="col l4 hide-on-med-and-down" style="margin-top:5%;">
         <h1 >segundas.mx</h1>
       </div>
       <div class="col l6 m12 s12 offset-l2">
       <h5 class="col l12 light logoblue" style="text-align: justify;
       text-justify: inter-word;border-radius:7px;">
         Somos una empresa dedicada a la compra-venta de distintos productos
         de acero de segunda con el objetivo de cubrir las necesidades de los
         diferentes tipos de proyectos. Nuestra experiencia nos permite brindar
         un servicio de calidad y valor para nuestros clientes, garantizando
         así una atención eficaz, cálida y puntual, ya sea que quiera compra
         o vender.
       </h5>
      </div>
     </div>
   </div>
 </div>
 <div class="parallax"><img src="{% static 'segundasapp/images/segundasfondo1.jpg' %}"
   style="width:100%;"
alt="Unsplashed background img 1"></div>
</div>
<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center blue-grey-text"><i class="material-icons">assignment_ind</i></h2>
       <a href ="{% url 'index'%}"><h5 class="center">Quiénes somos</h5></a>

      <p class="light center">Empresa mexicana dedidacada a la
       compra-venta de segundas de acero y materiales de construcción.</p>
    </div>
  </div>
  <!-- azul_icono -->
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center blue-grey-text"><i class="material-icons">group</i></h2>
      <a href ="{% url 'venta_segundas'%}"><h5 class="center">Compra de segundas</h5> </a>

      <p class="light center"> Ve nuestras excelentes ofertas de segundas</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center blue-grey-text"><i class="material-icons">money</i></h2>
       <a href ="{% url 'contacto'%}"><h5 class="center">Véndenos tus segundas</h5></a>
      <p class="light center">Compramos a los precios más justos</p>
    </div>
  </div>
</div>

<div id="smaltblue" class="block">
  <div class="nav-wrapper" style="height:64px;">
  <nav class="pushpin-demo-nav pin-top" data-target="smaltblue" style="top: 0px;">
    <div class="nav-wrapper smaltblue " style="height:64px;">
      <div class="container">
        <a href="{% url 'contacto'%}" class="brand-logo center turquesa-text hide-on-med-and-down">Compramos tus segundas</a>
      </div>
    </div>
  </nav>
</div>
<div id="index-banner" class="parallax-container">
 <div class="section no-pad-bot" style="top:0px;bottom:0px;">
   <div class="container">
     <div class="row" style="margin-top:10%;">
       <div class="col l4 m4 s4">
       <image src = "{% static 'segundasapp/images/background1.png' %}" width="100%"
       height="100%" href="{% url 'index'%}" style="border-radius:7px;border-style: solid;
     border-width: 1px;border-color: #587291;" >
     </div>
     <div class="col l4 m4 s4">
     <image src = "{% static 'segundasapp/images/background2.png' %}" width="100%"
     height="100%" href="{% url 'index'%}" style="border-radius:7px;border-style: solid;
   border-width: 1px;border-color: #587291;" >
   </div>
   <div class="col l4 m4 s4">
     <image src = "{% static 'segundasapp/images/background3.png' %}" width="100%"
     height="100%" href="{% url 'index'%}" style="border-radius:7px;border-style: solid;
   border-width: 1px;border-color: #587291;" >
 </div>
     </div>
     <div class="row">
       <div class="col l12 m12 s12" style="border-radius:7px;">
         <h5 class="light turquesa uclablue-text" style="text-align: justify;
         text-justify: inter-word;margin-top:5%;border-radius:7px;">
           En <span style="font-weight:bold;">
           segundas.mx</span> compramos todos los materiales de construcción que te sobren:
           desde varillas, malla electrosoldada, alambrón, hasta ladrillos y vigas. Aceros,
           metales, cemento, grava... Sólo envíanos tu información y en seguida te contactaremos.
         </h5>
           <div class="col l4 m12 s12 offset-l4" >
             <a href="{% url 'contacto'%}" class="waves-effect waves-light btn"><i class="material-icons left" style="z-index:40;">
               cloud</i>Vende tus segundas</a>
           </div>
       </div>
   </div>
 </div>
 <div class="parallax"><img src="{% static 'segundasapp/images/solera.jpg' %}"
   style="width:100%;bottom:0px;"
alt="Unsplashed background img 1"></div>
</div>
</div>
</div>

<div id="logoblue" class="block">
  <div class="nav-wrapper" style="height:64px;">
  <nav class="pushpin-demo-nav pin-top" data-target="logoblue" style="top:0px;height:64px;">
    <div class="nav-wrapper logoblue hide-on-med-and-down" style="height:64px;">
      <div class="container">
        <a href="{% url 'venta_segundas'%}" class="brand-logo center hide-on-med-and-down">Vendémos segundas</a>
      </div>
    </div>
  </nav>
</div>
<div id="index-banner" class="parallax-container">
 <div class="section no-pad-bot" style="top:0px;">
   <div class="container">
     <div class="row" >
       <div class="col l12" style="border-radius:7px;">
         <h5 class="light uclablue white-text" style="text-align: justify;
         text-justify: inter-word;margin-top:3%;border-radius:7px;">
           Visita nuestro mercado de segundas y material de construcción.Visualiza los
           materiales y contactanos para  obtener los mejores materiales a los mejores precios!
         </h5>
       </div>
     </div>
     <div class="row uclablue" style="border-width:1px;border-radius:7px;
     border-color:#587291;">
     <div class="col l12">
       <h5>Últimas ofertas:</h5>
     </div>
         <div class="col l12 hide-on-med-and-down">
         <div id="segundas">
           {% for segunda in segundas %}
                 <div class="col l4 m4 s12">
                   <div class="card">
                     <div class="card-image" style="margin-bottom:1px;">
                       <!-- Aqui empieza carrusel -->
                        <a class="btn-floating halfway-fab waves-effect waves-light modal-trigger columbiablue" href="{% url 'venta_segundas'%}">
                          <i class="material-icons">add</i></a>
                     </div>
                     <div class="card-stacked">
                     <div class="card-content black-text" style="padding:0px;margin-left:10px;">
                     <h6 style="font-weight:bold;"> {{ segunda.get_categoria_display }} </h6>
                     <h6 style="font-weight:bold;">{{ segunda.titulo }}</h6>
                     <h6>{{ segunda.fecha }}</h6>
                     <h6>{{ segunda.precio }}</h6>
                     <br>
                     <br>
                   </div>
                 </div>
                 </div>
                 </div>
           {% endfor %}
      </div>
    </div>
    <div class="col l4 offset-l4">
      <a href="{% url 'venta_segundas'%}"><h5 class="bold white-text">Ir a mercado de segundas</h5></a>
    </div>
       </div>
     <div class="row" style="margin-top:5%;">
     </div>
 </div>
 <div class="parallax"><img src="{% static 'segundasapp/images/placa-acer-segunda.jpg' %}"
   style="width:100%;"
alt="Unsplashed background img 1"></div>
</div>
</div>
</div>
 {% endblock index_content %}
