{%if count %}
<div class="container center-align">
<div class="row">
  <div class="col s12">
    <ul class="pagination">
        <!--<li class="disabled" id="l"><a id="page-left"><i class="material-icons">chevron_left</i></a></li>-->
        {% for i in count %}
          {% if forloop.counter == 1 %}
            <li class="active" id="1"><a id="page-1">1</a></li>
          {% else %}
            <li class="waves-effect" id="{{ forloop.counter }}"><a id="page-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
          {% endif %}
        {% endfor %}
        <!--<li class="disabled" id="r"><a id="page-right" ><i class="material-icons">chevron_right</i></a></li>-->
      </ul>
  </div>
</div>
</div>
{% endif %}
