<form id="formcontacto"class="col s10 offset-s1" action="{% url 'get_mensaje_contacto'%}"  method="post"
enctype="multipart/form-data" >{% csrf_token %}
<!-- <input type=hidden name="oid" value="00DA0000000BCjm"><input type=hidden name="retURL" value="{% url 'get_mensaje_contacto'%}"> -->
<div id="test1" class="col s12">
    <div class="row">
      <br>
      <h5 class="center-align" style="font-weight:bold;"> Envíanos tu información </h5>
    </div>
    <div class="row">
      <div class="col s12">
        <h6 class="left-align" style="font-weight:bold;"> Datos Personales</h6>
       </div>
    </div>
    <div class="row">
       <div class="input-field col s6 text_login">
         <i class="material-icons prefix">account_circle</i>
      <input type="text" name="first_name" placeholder="Nombre"
      class="validate" maxlength="100" required="" id="first_name">
      <label for="first_name">Nombre</label>
      </div>
      <!-- <div class="input-field col s6 text_login">
        <i class="material-icons prefix">account_circle</i>
        {{form.first_name}}
        <label for="nombre_contacto">Nombre</label>
      </div> -->
      <div class="input-field col s6 text_login">
        <input type="text" name="last_name" placeholder="Apellido"
        class="validate" maxlength="100" required="" id="last_name">
        <label for="last_name">Apellido</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input type="tel" name="phone" placeholder="55-55-55-55"
          class="validate" maxlength="14" minlength="8" required=""
          id="phone">
          <label for="phone">Teléfono</label>
        </div>
        <div class="input-field col s6">
           <i class="material-icons prefix">mail</i>
          <input type="email" name="email" placeholder="ejemplo@ejemplo.com"
           class="validate" maxlength="100" required="" id="email">
          <label for="email">Email</label>
        </div>
    </div>
</div>
<div id="test2" class="col s12">
  <div class="row">
    <br>
    <h5 class="center-align" style="font-weight:bold;"> Envíanos tu información </h5>
  </div>
  <div class="row">
    <div class="col s12">
      <h6 class="left-align" style="font-weight:bold;"> ¿Qué nos quieres vender?</h6>
     </div>
  </div>
  <div class="row">
    <div class="input-field col s6 text_login">
      <i class="material-icons prefix">assistant</i>
      {{form.titulo_contacto}}
      <label for="titulo_contacto">Título</label>
    </div>
    <div class="input-field col s6 text_login">
      <i class="material-icons prefix">attach_money</i>
      {{form.precio_contacto}}
      <label for="precio_contacto">Precio</label>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">info</i>
        {{form.textarea_contacto}}
        <label for="textarea_contacto">Descripción</label>
      </div>
  </div>

  <div class="row">
    <div class="file-field input-field">
 <div class="btn">
   <span>Imagenes</span>
   {{form.imagenes_contacto}}
 </div>
 <div class="file-path-wrapper">
   <input class="file-path validate" type="text">
 </div>
 </div>
</div>
</div>
<div class="row">
  <div class="input-field col s4 offset-s4">
  <button id="buttsubmit" class="waves-effect waves-light btn-flat modal-trigger smaltblue white-text"
   type="submit" name="action">Enviar
     <i class="material-icons right">send</i>
  </button>
 </div>
</div>
 </form>
