{% extends "segundasapp/base.html" %}
{% load staticfiles %}
{% load static %}
{% block slick_script %}
  <link rel="stylesheet" type="text/css"  href="{% static 'segundasapp/css/slick.css' %}" />
  <link rel="stylesheet" type="text/css"  href="{% static 'segundasapp/css/slick-theme.css' %}" />
  <link rel="stylesheet" type="text/css"  href="{% static 'segundasapp/css/nouislider.min.css' %}" />
  <script type="text/javascript" src="{% static 'segundasapp/js/wNumb.js' %}"></script>
  <script type="text/javascript" src="{% static 'segundasapp/js/nouislider.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'segundasapp/js/prueba.js' %}"></script>
{% endblock slick_script %}

{% block prueba_content %}
<div id="test-slider"></div>

{% endblock prueba_content %}
