{% extends "segundasapp/base.html" %}
{% load staticfiles %}
{% load static %}
{% block slick_script %}
  <link rel="stylesheet" type="text/css"  href="{% static 'segundasapp/css/slick.css' %}" />
  <link rel="stylesheet" type="text/css"  href="{% static 'segundasapp/css/slick-theme.css' %}" />
  <link rel="stylesheet" type="text/css"  href="{% static 'segundasapp/css/nouislider.min.css' %}" />
  <script type="text/javascript" src="{% static 'segundasapp/js/wNumb.js' %}"></script>
  <script type="text/javascript" src="{% static 'segundasapp/js/slick.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'segundasapp/js/nouislider.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'segundasapp/js/rangeslide.js' %}"></script>
{% endblock slick_script %}

{% block page_script %}
  <script type="text/javascript" src="{% static 'segundasapp/js/pagination.js' %}"></script>
{% endblock page_script %}

{% block filtro_script %}
  <script type="text/javascript" src="{% static 'segundasapp/js/filtro.js' %}"></script>
{% endblock filtro_script %}

{% block slider_script %}
<script type="text/javascript" src="{% static 'segundasapp/js/sliders.js' %}"></script>
{% endblock slider_script %}

{% block ventasegundas_content %}
<nav class="nav-border white">
  <div class="nav-wrapper">
      <div class="row">

        <div class="col l4 m6 s12 offset-l4">
          <form id="filtrossearch">
            <div class="input-field col-s8">
              <input id="search" type="search" placeholder="Busqueda por titulo o palabra clave">
              <label class="label-icon" for="search"><i class="material-icons">search</i>
              </label>
            </div>
          </form>
        </div>
        <div id="selectordenar">
        <div class="col s12 m5 l3 offset-l1 offset-m1">
            <div class="input-field col s12" style="padding-top:10px;">
            <select id="ordenarselect">
              <option value="0" disabled selected>Ordenar por:</option>
              <option value="1">Fecha (menos reciente)</option>
              <option value="2">Fecha (más reciente)</option>
              <option value="3">Precio ascendiente</option>
              <option value="4">Precio descendiente</option>
            </select>
          </div>
        </div>
      </div>
      </div>
  </div>
</nav>

<div class="row">
  <br>
</div>

<div class="row">
    <div class="col l3 m12 s12 " id="col-formafiltro" style="height:100%;border-radius:7px;border:1px solid #587291;">
        <div class="row">
          <div class="col s12 ">
            <br>
            <h5 style="text-align:center;font-weight:bold;">Filtrar Busqueda</h5>
          </div>
        </div>

        <form id="filtross" action="{% url 'filtro_segundas'%}"  class="col s12"  method="get" >{% csrf_token %}
          <div class="row">
            <div class="input-field col s12 text_login" hidden>
              {{form.titulo_busqueda}}
            </div>
          </div>
          <div class="row">
                <div class="input-field col s12">
                  {{form.categoria_busqueda}}
                  <label for="categoria_busqueda">Categoría</label>
                </div>
          </div>

        <div class="row">
          <div class="input-field col s1 ">
            <h6>$</h6>
          </div>
            <div class="input-field col s4">
              {{form.precio_busqueda_min}}
              <label for="precio_busqueda_min">Precio min</label>
            </div>

            <div class="input-field col s1">
              <h6>$</h6>
            </div>
            <div class="input-field col s4">
               {{form.precio_busqueda_max}}
               <label for="precio_busqueda_min">Precio max</label>
            </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12 ">
            <div id="test-slider">
          </div>
        </div>
      </div>

          </br>
          <div class="row">
            <div class="input-field col s12 ">
            <button id="buttsubmit" class="waves-effect waves-light btn-flat modal-trigger logoblue white-text"
             type="submit" name="action">Filtar
               <i class="material-icons right">filter_list</i>
            </button>
           </div>
          </div>
        </form>
        <br><br><br><br>
    </div>

     <div class="col l8 m12 s12">
       <div id="segundas">
         {% for segunda in segundas %}
         {% if forloop.first == true or forloop.counter|divisibleby:3 %}
             <div class="row">
               {% endif %}
               <div class="col l4 m6 s12">
                 <div class="card">
                   <div class="card-image" style="margin-bottom:1px;">
                     <!-- Aqui empieza carrusel -->
                      <div class="testcar" style="max-width:100%;max-height:200px">
                        {% for imagen in segunda.images.all %}

                          <div class="option">
                              <img src="{{ imagen.fileimage.url|slice:"11:" }}" style="width:100%;height:200px;">
                          </div>

                        {% endfor %}
                          <div class="prev_next">
                          </div>
                      </div>
                      <a class="btn-floating halfway-fab waves-effect waves-light modal-trigger columbiablue" href="#modal{{ forloop.counter }}">
                        <i class="material-icons">add</i></a>
                     <!-- <img src="/{{ segunda.imagen.url }}" style="width:300px;height:250px;"> -->
                   </div>
                   <div class="card-stacked">
                   <div class="card-content" style="padding:0px;margin-left:10px;">
                   <h6 style="font-weight:bold;"> {{ segunda.get_categoria_display }} </h6>
                   <h6 style="font-weight:bold;">{{ segunda.titulo }}</h6>
                   <h6>{{ segunda.fecha }}</h6>
                   <h6>{{ segunda.precio }}</h6>
                   <br>
                 </div>
                 <div id="modal{{ forloop.counter }}" class="modal modal-fixed-footer">
                   <div  class="modal-content">
                     <h4>{{ segunda.titulo }}</h4>
                     <p>{{ segunda.contenido }}</p>
                     <div class="row">
                       <!-- Forma para contacto con nosotros.-->
                       <form class="col s12" name="contactosegunda"  method="post">{% csrf_token %}
                         <div class="row">
                           <input name="titulo_segunda" type="text" value="{{ segunda.titulo }}" hidden>
                           <input name="contenido_segunda" type="text" value="{{ segunda.contenido }}" hidden>
                           <input name="precio_segunda" type="text" value="{{ segunda.precio }}" hidden>
                           <input name="llave_segunda" type="number" value="{{ segunda.pk }}" hidden>
                           <div class="input-field col s5 offset-s1 text_login">
                             <i class="material-icons prefix">account_circle</i>
                             {{formseg.nombre_segunda}}
                             <label for="nombre_contacto">Nombre</label>
                           </div>
                           <div class="input-field col s5 text_login">
                             {{formseg.apellido_segunda}}
                             <label for="apellido_contacto">Apellidos</label>
                           </div>
                         </div>
                         <div class="row">
                             <div class="input-field col s10 offset-s1">
                               <i class="material-icons prefix">phone</i>
                               {{formseg.telefono_segunda}}
                               <label for="telefono_segunda">Teléfono</label>
                             </div>
                         </div>
                         <div class="row">
                             <div class="input-field col s10 offset-s1">
                                <i class="material-icons prefix">mail</i>
                               {{formseg.email_segunda}}
                               <label for="email_contacto">Email</label>
                             </div>
                         </div>
                         <div class="row">
                             <div class="input-field col s10 offset-s1">
                               {{formseg.textarea_segunda}}
                               <label for="textarea_contacto">Observaciones</label>
                             </div>
                         </div>
                         <div class="row">
                           <div class="input-field col s4 offset-s4">
                           <button id="buttsubmit" class="waves-effect waves-light btn-flat modal-trigger"
                            type="submit" name="action">Enviar
                              <i class="material-icons right">send</i>
                           </button>
                          </div>
                         </div>
                       </form>
                     </div>
                   </div>
                   <div class="modal-footer">
                     <a class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                   </div>
                 </div>
               </div>
               </div>
               </div>
           {% if forloop.first == true or forloop.counter|divisibleby:3 %}
            </div>
           {% endif %}
         {% endfor %}
    </div>
    <div id = "pagination">
      {%if count %}
      <div class="container center-align">
      <div class="row">
        <div class="col s12">
          <ul class="pagination">
              <!--<li class="disabled"><a id="page-left"><i class="material-icons">chevron_left</i></a></li>-->
              {% for i in count %}
                {% if forloop.counter == 1 %}
                  <li class="active" id="1"><a id="page-1">1</a></li>
                {% else %}
                  <li class="waves-effect" id="{{ forloop.counter }}"><a id="page-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endif %}
              {% endfor %}
              <!--<li class="waves-effect"><a id="page-left" ><i class="material-icons">chevron_right</i></a></li>-->
            </ul>
        </div>
      </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock ventasegundas_content%}
